body {
   font-family: Arial, sans-serif;
   background-color: #111;
   color: white;
   margin: 0;
   padding: 0;
}

header {
   text-align: center;
   padding: 20px;
   background-color: #08b022;
}

main {
   padding: 20px;
}

form {
   display: flex;
   gap: 10px;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 20px;
}

input, select, button {
   padding: 10px;
   border-radius: 5px;
   border: none;
}

button {
   background-color: #08b022;
   color: white;
   cursor: pointer;
}

button:hover {
   background-color: #05901c;
}

.resultado-section, .historial-section {
   margin-top: 20px;
   padding: 15px;
   background-color: #222;
   border-radius: 10px;
}
